{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'admin/img/favicon.ico' %}">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/font-awesome.min.css' %}">
	<!-- nalika Icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/nalika-icon.css' %}">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/owl.transitions.css' %}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/animate.css' %}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/normalize.css' %}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/meanmenu.min.css' %}">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/main.css' %}">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href=" {% static 'admin/css/morrisjs/morris.css' %}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/scrollbar/jquery.mCustomScrollbar.min.css'%}">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/metisMenu/metisMenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/metisMenu/metisMenu-vertical.css' %}">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/calendar/fullcalendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/calendar/fullcalendar.print.min.css' %}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/style.css' %}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/responsive.css' %}">
    <!-- modernizr JS
		============================================ -->
    <script src="{% static 'admin/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="index.html"><img class="main-logo" src="{% static 'admin/img/logo/logosn.png' %}" alt="" /></a>
                <strong><img src="{% static 'admin/img/logo/logosn.png' %}" alt="" /></strong>
            </div>
			<div class="nalika-profile">
				<div class="profile-dtl">
					<a href="#"><img src="{% static 'admin/img/notification/fig4.JPG' %}" alt="" /></a>
					<h2>Admin<span class="min-dtn"></span></h2>
				</div>
				<div class="profile-social-dtl">
					<ul class="dtl-social">
						<li><a href="#"><i class="icon nalika-facebook"></i></a></li>
						<li><a href="#"><i class="icon nalika-twitter"></i></a></li>
						<li><a href="#"><i class="icon nalika-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li class="active">
                            <a class="has-arrow" href="{% url 'admin_dashboard' %}">
								   <i class="icon nalika-home icon-wrap"></i>
								   <span class="mini-click-non">Dashboard</span>
								</a>
                            
                        </li>
                        <li>
                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="icon nalika-user icon-wrap"></i> <span class="mini-click-non">User Management</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="View Mail" href="{% url 'admin_pendingusers' %}"><span class="mini-sub-pro">Pending Users</span></a></li>
                                <li><a title="Compose Mail" href="{% url 'admin_allusers' %}"><span class="mini-sub-pro">All Users</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="icon nalika-table icon-wrap"></i> <span class="mini-click-non">Data Set</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Peity Charts" href="{% url 'uploaddataset' %}"><span class="mini-sub-pro">Upload dataset</span></a></li>
                               
                            </ul>
                        </li>
                       
                        <li>
                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="icon nalika-pie-chart icon-wrap"></i> <span class="mini-click-non">Models</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="File Manager" href="{% url 'admin_traintest_model' %}"><span class="mini-sub-pro">Train & Test Model</span></a></li>
                                <li><a title="Blog" href="{% url 'admin_cnn_model' %}"><span class="mini-sub-pro">CNN Model</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="icon nalika-bar-chart icon-wrap"></i> <span class="mini-click-non">Admin Graph</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Bar Charts" href="{% url 'admin_graph' %}"><span class="mini-sub-pro">Admin Graph Analysis</span></a></li>
                               
                                
                            </ul>
                        </li>
                        
                       
                        
                        <li id="removable">
                            <a class="has-arrow" href="#" aria-expanded="false"><i class="icon nalika-new-file icon-wrap"></i> <span class="mini-click-non">User Feedbacks</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Login" href="{% url 'user_feedbacks' %}"><span class="mini-sub-pro">Feedbacks</span></a></li>
                                <li><a title="Register" href="{% url 'user_sentiment' %}"><span class="mini-sub-pro">Sentiment Analysis</span></a></li>
                                <li><a title="Lock" href="{% url 'user_graph' %}"><span class="mini-sub-pro">Feed back graph</span></a></li>
                                
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="{% static 'admin/img/logo/logosn.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
													<i class="icon nalika-menu-task"></i>
												</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n hd-search-rp">
                                            <div class="breadcome-heading">
												<form role="search" class="">
													<input type="text" placeholder="Search..." class="form-control">
													<a href=""><i class="fa fa-search"></i></a>
												</form>
											</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                <li class="nav-item dropdown">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="icon nalika-mail" aria-hidden="true"></i><span class="indicator-ms"></span></a>
                                                    <div role="menu" class="author-message-top dropdown-menu animated zoomIn">
                                                        <div class="message-single-top">
                                                            <h1>Message</h1>
                                                        </div>
                                                        <ul class="message-menu">
                                                            <li>
                                                                <a href="#">
                                                                    <div class="message-img">
                                                                        <img src="img/contact/1.jpg" alt="">
                                                                    </div>
                                                                    <div class="message-content">
                                                                        <span class="message-date">16 Sept</span>
                                                                        <h2>Admin</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <div class="message-img">
                                                                        <img src="img/contact/4.jpg" alt="">
                                                                    </div>
                                                                    <div class="message-content">
                                                                        <span class="message-date">16 Sept</span>
                                                                        <h2>Sulaiman din</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <div class="message-img">
                                                                        <img src="img/contact/3.jpg" alt="">
                                                                    </div>
                                                                    <div class="message-content">
                                                                        <span class="message-date">16 Sept</span>
                                                                        <h2>Victor Jara</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <div class="message-img">
                                                                        <img src="img/contact/2.jpg" alt="">
                                                                    </div>
                                                                    <div class="message-content">
                                                                        <span class="message-date">16 Sept</span>
                                                                        <h2>Victor Jara</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <div class="message-view">
                                                            <a href="#">View All Messages</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="icon nalika-alarm" aria-hidden="true"></i><span class="indicator-nt"></span></a>
                                                    <div role="menu" class="notification-author dropdown-menu animated zoomIn">
                                                        <div class="notification-single-top">
                                                            <h1>Notifications</h1>
                                                        </div>
                                                        <ul class="notification-menu">
                                                            <li>
                                                                <a href="#">
                                                                    <div class="notification-icon">
                                                                        <i class="icon nalika-tick" aria-hidden="true"></i>
                                                                    </div>
                                                                    <div class="notification-content">
                                                                        <span class="notification-date">16 Sept</span>
                                                                        <h2>Admin</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <div class="notification-icon">
                                                                        <i class="icon nalika-cloud" aria-hidden="true"></i>
                                                                    </div>
                                                                    <div class="notification-content">
                                                                        <span class="notification-date">16 Sept</span>
                                                                        <h2>Sulaiman din</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <div class="notification-icon">
                                                                        <i class="icon nalika-folder" aria-hidden="true"></i>
                                                                    </div>
                                                                    <div class="notification-content">
                                                                        <span class="notification-date">16 Sept</span>
                                                                        <h2>Victor Jara</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <div class="notification-icon">
                                                                        <i class="icon nalika-bar-chart" aria-hidden="true"></i>
                                                                    </div>
                                                                    <div class="notification-content">
                                                                        <span class="notification-date">16 Sept</span>
                                                                        <h2>Victor Jara</h2>
                                                                        <p>Please done this project as soon possible.</p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <div class="notification-view">
                                                            <a href="#">View All Notification</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
															<i class="icon nalika-user"></i>
															<span class="admin-name">Admin</span>
															<i class="icon nalika-down-arrow nalika-angle-dw"></i>
														</a>
                                                    <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                        <li><a href="{% url 'admin_login' %}"><span class="icon nalika-unlocked author-log-ic"></span> Log Out</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                                 
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-wp">
											<div class="breadcomb-icon">
												<i class="icon nalika-home"></i>
											</div>
											<div class="breadcomb-ctn">
												<h2>Dashboard</h2>
												<p>Welcome to  <span class="bread-ntd">Admin</span></p>
											</div>
										</div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-report">
											<button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="icon nalika-download"></i></button>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-6">
            <div class="container-fluid">
              <div class="header-body">
                <div class="col-12 grid-margin stretch-card" style="padding-top:50px;">
                  <div class="card">
                    <div class="table-responsive" style="overflow-y: hidden;">
                      <form method=' post' enctype='multipart/form-data'>
                        {% csrf_token %}
                        <table class="table table-hover" style="color:#fff;">
                          <thead>
                            <tr class="custom">
                              <th>#</th>
                              <th>User</th>
                              <th>Overall Rating</th>
                              <th>Feedback</th>
                              <th>Status</th>
                              <th>Emoji</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in cat %}
                            <tr class="table-lite">
                              <td>{{forloop.counter}}</td>
                              <td>{{i.Reviewer.Full_name}}</td>
                              <td>{{i.Rating}}</td>
                              <td><span class="feedback-text" style="color: green;">{{i.Review}}</span></td>
                              <td>{{i.Sentiment}}</td>
                              {% if i.Sentiment == 'very positive' %}
                              <td><img src="{% static 'admin/img/star.png' %}" style="height:60px;width:50px;"></td>
                              {% elif i.Sentiment == 'positive' %}
                              <td><img src="{% static 'admin/img/party.png' %}"style="height:60px;width:50px;"></td>
                              {% elif i.Sentiment == 'neutral' %}
                              <td><img src="{% static 'admin/img/confused.png' %}"style="height:60px;width:50px;"></td>
                              {% elif i.Sentiment == 'negative' %}
                              <td><img src="{% static 'admin/img/sad.png' %}"style="height:60px;width:50px;"></td>
                              {% elif i.Sentiment == 'very negative' %}
                              <td><img src="{% static 'admin/img/emoji.png' %}"style="height:60px;width:50px;"></td>
                              {% endif %}
                            </tr>
                            {% endfor %}  
                          </tbody>
                        </table>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        
        <div class="product-sales-area mg-tb-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-9 col-sm-9 col-xs-12">
                        <div class="product-sales-chart">
                            <div class="portlet-title">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="caption pro-sl-hd">
                                            <span class="caption-subject text-uppercase"><b>Admin</b></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="actions graph-rp">
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-grey active">
													<input type="radio" name="options" class="toggle" id="option1" checked="">Today</label>
                                                <label class="btn btn-grey">
													<input type="radio" name="options" class="toggle" id="option2">Week</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="curved-line-chart" class="flot-chart-sts flot-chart curved-chart-statistic"></div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
     
 
      

        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Copyright © 2023 Codebook.in All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jquery
		============================================ -->
    <script src="{% static 'admin/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <!-- wow JS
		============================================ -->
    <script src="{% static 'admin/js/wow.min.js' %}"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="{% static 'admin/js/jquery-price-slider.js' %}"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="{% static 'admin/js/jquery.meanmenu.js' %}"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="{% static 'admin/js/owl.carousel.min.js' %}"></script>
    <!-- sticky JS
		============================================ -->
    <script src="{% static 'admin/js/jquery.sticky.js' %}"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="{% static 'admin/js/jquery.scrollUp.min.js' %}"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="{% static 'admin/js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'admin/js/scrollbar/mCustomScrollbar-active.js' %}"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="{% static 'admin/js/metisMenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'admin/js/metisMenu/metisMenu-active.js' %}"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="{% static 'admin/js/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'admin/js/sparkline/jquery.charts-sparkline.js' %}"></script>
    <!-- calendar JS
		============================================ -->
    <script src="{% static 'admin/js/calendar/moment.min.js' %}"></script>
    <script src="{% static 'admin/js/calendar/fullcalendar.min.js' %}"></script>
    <script src="{% static 'admin/js/calendar/fullcalendar-active.js' %}"></script>
	<!-- float JS
		============================================ -->
    <script src="{% static 'admin/js/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'admin/js/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'admin/js/flot/curvedLines.js' %}"></script>
    <script src="{% static 'admin/js/flot/flot-active.js' %}"></script>
    <!-- plugins JS
		============================================ -->
    <script src="{% static 'admin/js/plugins.js' %}"></script>
    <!-- main JS
		============================================ -->
    <script src="{% static 'admin/js/main.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
         {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <script>swal({
                            title: "Success!",
                            text: "{{message}}",
                            icon: "success",
                            button: "OK",
                        });
                    </script>
                
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <script>swal({
                            title: "Warning :)",
                            text: "{{message}}",
                            icon: "warning",
                            button: "OK",
                        
                        });
                    </script>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <script>swal({
                            title: "info :)",
                            text: "{{message}}",
                            icon: "info",
                            button: "OK",
                        });
                    </script>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <script>swal({
                            title: "error :)",
                            text: "{{message}}",
                            icon: "error",
                            button: "OK",
                        });
                    </script>
                {% endif %}
            {% endfor %}
        {% endif %}
</body>

</html>